.gradient-custom {
    /* fallback for old browsers */
    background: #e75ab8;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(221, 99, 205), rgb(139, 8, 111));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(221, 99, 205, 1), rgba(139, 8, 111, 1))
  }